# ----------------------------

# Python compiled files

# ----------------------------

**pycache**/
*.pyc

# ----------------------------

# Data files

# ----------------------------

data/frames/*
!data/frames/.gitkeep

data/raw_videos/*
!data/raw_videos/.gitkeep

data/more_videos/

data/images/*
data/labels/*

# ----------------------------

# Models / weights

# ----------------------------

models/*
!models/.gitkeep

# ----------------------------

# YOLO training outputs

# ----------------------------

training/runs/*
!training/runs/.gitkeep

runs/segment/predict/

# ----------------------------

# Tools

# ----------------------------

/tools/*.bat
